body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(128, 213, 206);
    background-image: url('https://t4.ftcdn.net/jpg/01/27/10/27/360_F_127102793_T3xjCOEUKV5vy3WgNMxpDRnEMSFFHh5b.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: large;
}

.calculator {
    text-align: center;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 340px;
    
}

.calculator input[type="text"] {
    width: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 24px; 
}

.calculator button {
    width: 22%;
    padding: 15px;
    margin: 5px 1%; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 24px; 
    background-color: #ffffff;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #1c6976;
}
